.personal-image {
    border-radius: 30%;
    width: 50%;
    border: 3px solid #d5ad9e;
    padding: 20px;
}
p {
    text-indent: 50px;
}
.text {
    margin-bottom: 100px;
    font-weight: 550;
    padding: 20px;
}
.story-intro {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #d5ad9e;
}

