.column {
  width: 33.33%;
  padding: 5px;
  padding-bottom: 12px;
  padding-left: 12px;
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.row {
  margin-bottom: -12px;
  margin-left: -12px;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  font-size: 0;
  padding: 0;
}

.img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
