#title {
  font-size: 46px;
  color: #242424;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
  color: #878787;
  font-size: 25px;
}
img {
  display: block;
  max-width: 50%;
  height: auto;
}
#recipe-image {
  border: 3px solid;
  border-color: #d5ad9e;
}
strong {
  font-weight: 700;
}
h2 {
  font-size: 33px;
  color: #242424;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
#recipe-ingredients {
  font-weight: bold;
}
#italics {
  font-style: italic;
}
body {
  margin-bottom: 100px;
  background-color: #f4eae6
}
#recipe-name {
  text-align: center;
}
#recipe-image {
  margin-right: auto;
  margin-left: auto;
}