h3 {
    text-transform: uppercase;
    color: #242424;
}
body {
    text-transform: uppercase;
    background-color: #f4eae6
    
}
.warm-up{
float: left;
width: 60%;
padding: 10px;
}
.workout{
float: left;
width: 25%;
padding: 10px;
}
.columns {
margin-right: auto;
margin-left: auto;
margin-bottom: 100px;
}
.details {
    list-style-type: circle;
}
div.gallery {
    margin: 5px;
    border: 3px solid #d5ad9e;
    float: left;
    width: 180px;
}
div.gallery img{
    width: 100%;
    height: auto;
}
div.desc {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    height: 30px;
}
.h-three {
    text-transform: uppercase;
}
/* img {
    width: 500;
    height: 800;
} */